<div id="map_canvas">
    <ui-gmap-google-map 
    	center="vm.map.center" 
    	zoom="vm.map.zoom"
    	options="vm.map.options">
    		 <ui-gmap-polygon static="true" ng-repeat="p in vm.polygons track by p.id" path="p.path" stroke="p.stroke" visible="p.visible"
                 geodesic="p.geodesic" fill="p.fill" fit="false" editable="p.editable" draggable="p.draggable"></ui-gmap-polygon>
    		<ui-gmap-marker
    				idKey="vm.marker.id"
			        coords="vm.marker.coords"
			        options="vm.marker.options"
			        events="vm.marker.events"		      
			        >
			        <ui-gmap-window options="vm.windowOptions">
						{{vm.content}}
					</ui-gmap-window>
			</ui-gmap-marker>
    		
    	</ui-gmap-google-map>
    {{vm.map}}
</div>